@{
    ViewData["Title"] = "PDF Creator";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="col-md-12">
        <h2>Create a PDF File</h2>
        <form method="post">
            <div class="col-md-4"> <label>Parametr1</label>
            <input name="parametr1" id="parametr1"></input></div><div class="col-md-4"><label>Parametr2</label>
            <input name="parametr2" id="parametr2"></input></div><div class="col-md-4"><label>Parametr3</label>
            <input name="parametr3" id="parametr3"></input></div>
           
             
            
                       <br />
            <input type="submit" class="btn btn-success" value="Generate PDF" />
            
        </form>
    </div>
</div>